@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-nowrap">
    <h1 class="display-4">Welcome</h1>
    <p>You can <a class="nav-link" asp-area="" asp-controller="TaxCalculation" asp-action="TaxCalculation">calculate tax</a></p>
    <p>You can <a class="nav-link" asp-area="" asp-controller="TaxTable" asp-action="List">View tax tables</a></p>
    <p>You can <a class="nav-link" asp-area="" asp-controller="PostalCode" asp-action="List">View postal codes</a></p>
    <p>You can <a class="nav-link" asp-area="" asp-controller="History" asp-action="List">View History</a></p>
    <p>You can <a class="nav-link" asp-area="" asp-controller="swagger">View API Documentation</a></p>
</div>
